<section class="flex-row align-center-center">
  <object data="assets/art/authentication.svg" type="image/svg+xml"></object>
</section>

<h2>To continue you must provide new password.</h2>

<form class="flex-column align-center-center" [formGroup]="newPasswordForm">
  <mat-form-field appearance="outline">
    <mat-error *ngIf="newPasswordForm.get('password')?.hasError('minlength')"
      >Password required length 8</mat-error
    >
    <mat-error *ngIf="newPasswordForm.get('password')?.hasError('required')"
      >Password is required</mat-error
    >
    <mat-label>Password</mat-label>
    <input
      matInput
      id="password"
      [type]="showPassword ? 'text' : 'password'"
      required
      minlength="8"
      maxlength="40"
      formControlName="password"
    />
    <mat-icon matPrefix>lock</mat-icon>
    <mat-icon
      matSuffix
      (click)="showPassword = !showPassword"
      class="toggleShowPasswordButton"
      >{{ showPassword ? "visibility" : "visibility_off" }}</mat-icon
    >
    <mat-hint align="end">
      {{ newPasswordForm.get("password")?.value?.length }} / 8</mat-hint
    >
  </mat-form-field>

  <button mat-raised-button mat-button color="primary" (click)="submit()">
    Change new password
  </button>

  <span routerLink="/sign-in">Go to login page</span>
</form>
