@use "../../../../styles/mixins/ios.scss" as *;
@use "../../../../styles/variables/" as *;

@include disable-auto-zoom-on-iphone-input-fields;

object {
  width: 15rem;
  margin-top: 1rem;
}

h2 {
  text-align: center;
}

span {
  color: var(--primary-color);
  margin-top: 1rem;
  font-weight: bold;
}

button {
  margin-top: 1rem;
}

form {
  margin-top: 2rem;
}
